canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.controlpanel {
    border: solid black 1px;
    height: 150px;
    
}

.gameboard {
    /*border: solid black 1px;*/
    display: inline-block;
    height: 400px;
    width: 400px;
}
